<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home</title>

  <link rel="stylesheet" href="css/styles.css">
</head>

<body>


  <!-- <%    if(List === "Saturday"){ %>
  <h1 style = "color:purple"> <%= List %></h1>
<%    }else{     %>
  <h1 style = "color:blue"> <%= List %></h1>
<%    } %> -->

  <h1 class="box" id="heading"> <%= List %></h1>

  <div class="box">
      <!-- <li>first</li>
    <li>section</li> -->

      <%  newItem.forEach(function(item){  %>
    <form class="" action="/delete" method="post">

      <div class="item" id = "formName">
          <input type ="checkbox" name="checkBox"  value = <%= item._id %> onchange="this.form.submit()"></input>

        <!-- <input type="checkbox" > -->
        <p> <%= item.name %></p>
      </div>
      <input type="hidden" name="listName" value="<%= List %>"> </input>

      </form>

      <%  } ) %>

    <form class="item" action="/" method="post">
      <input type="text" name="item" placeholder="item" autocomplete="off">
      <button type="submit" name="submit" value =<%= List  %>  >+</button>
    </form>

  </div>





</body>

</html>
